html {
    padding: 1rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    width: 100%;
}

section {
    max-width: 25rem;
    border-radius: 0.25rem;
    border: 1px solid #909090;
    padding: 2rem;
    margin: 3rem auto;
}

section h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 2rem;
}

section .upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909090;
    height: 8rem; 
    border: 4px dashed #d3d3d3;
    background-color: #f3f3f3;
    cursor: pointer;
    margin-bottom: 1rem;
    user-select: none;
}

section .files {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

section .files .file-card {
    padding: 0.8rem;
    border: 1px solid #909090;
    border-radius: 0.2rem;
}
section .files .file-card .file-size {
    display: block;
    color: #909090;
    font-size: small;
}
section .files .file-card .file-name {
    display: block;
    margin-bottom: 0.5rem;
    overflow-x: scroll;
    white-space: nowrap;
}

section input[type="file"] {
    display: none;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    background-color: #0085ff;
    border-radius: 0.2rem;
    cursor: pointer;
    color: #FFF;
}
button:hover {
    background-color: #0040FF;
}
button:disabled {
    background-color: #0085FF90;
}